//Font family
$arrow-font: "Dosis", sans-serif;
$title-font: "Playfair Display", sans-serif;
$main-font: "Raleway", serif;

//Colors
$black-color: #303030;

//Effects
// $drop-shadow: 0px 1px 10px $typo-color;

//Background-images
// $image-bg: url('http://image-url.png');

//Borders
// $thin-border: solid 2px $typo-color;
