//Font family
$arrow-font: "Dosis", sans-serif;
$title-font: "Playfair Display", sans-serif;
$main-font: "Raleway", serif;

//Colors
$black-color: #303030;

//Effects
// $drop-shadow: 0px 1px 10px $typo-color;

//Background-images
// $image-bg: url('http://image-url.png');
$image-bg: url("https://s-media-cache-ak0.pinimg.com/originals/e4/5f/54/e45f54e2cc5516e2210c34453db5ab6e.jpg");

//Borders
// $thin-border: solid 2px $typo-color;
