.logo {
  width: 100px;
  height: auto;
}

.navbar-brand {
  padding: 7px 15px;
  .nav-logo {
    width: 50px;
  }
}

.nav-icon {
  width: 35px;
  padding: 5px;
  &:hover {
    background: #acbaba;
    border-radius: 50%;
  }
}

.nav-icon-target {
  background: #acbaba;
  border-radius: 50%;
}

.user-profile {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background-color: #303030;
}

.assets {
  display: inline-block;
  width: 50px;
  height: auto;
}

.assets-flipped {
  @extend .assets;
  transform: scaleY(-1);
  filter: FlipY;
}
