<<<<<<< Updated upstream
.all-buttons{
  color: red;
=======
.all-button {
  color: black;
  font-style: bold;
  text-decoration: none;
}
a:hover, a:focus { text-decoration: none;}
form{
  input{
    color: black;
    font-style: bold;
    text-decoration: none;
    background: none;
    border: none;
    font-weight: bold;
  }
>>>>>>> Stashed changes
}


<<<<<<< Updated upstream
.all-buttons{
  color: red;
=======
.all-button {
  color: black;
  font-style: bold;
  text-decoration: none;
}
a:hover, a:focus { text-decoration: none;}
form{
  input{
    color: black;
    font-style: bold;
    text-decoration: none;
    background: none;
    border: none;
    font-weight: bold;
  }
>>>>>>> Stashed changes
}
