.text-area {
  min-height: 350px;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 38px, rgba(0,0,0,0.15) 39px);
  line-height: 40px;
  resize: none;
  border: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

#bold-reg, #bold-log {
  font-weight: bold;
}

input:focus{
  outline: none;
}

.login-btn, .register-btn {
  border: none;
  padding-top: 30px;
}


a {
  padding-top: 30px;
  font-size: 15px;
  font-weight: bold;
}

.wrapper{
  padding-top: 50px;
  h2 {
    margin-top: 100px;
    font-weight: bold;
  }
  input {
    border-bottom: 2px solid $black-color;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 500px;
    padding: 10px 0;
    font-weight: normal;
  }
  .login-btn{
    border-bottom: none;
  }
  .register-btn {
    border-bottom: none;
  }
}
