header {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.relative-section {
  height: 100vh;
  text-align: center;
  position: relative;

  .relative-button {
    @include absolute-center;
    bottom: 40px;
    a, img {
      display: block;
    }
  }
}
.search-container{
  background-color: #eee;
  width: 100%;
  text-align: center;
  padding: 20px;
  .search-box{
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    width: 300px;
    border: none;
  }
}
