
.progress-btns {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 50px;
  li {
    display: inline-block;
    width: 100px;
    padding: 10px;
    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #eee;
      border: 1px solid #888;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}

.grey {
  color: #636363;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
  color: #333;
}

.create-new-form{
  @include absolute-center;
  margin-top: 50px;
  font-size: 30px;
  width: 450px;
  text-align: left;
  line-height: 50px;

  input{
    width: 400px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-weight: lighter;
  }
  .letter{
    width: 50px;
    text-align: center;
  }
  input:focus{
    outline: none;
    font-weight: lighter;
  }
  button{
    width: 100%;
    background: none;
    border: none;
    margin-top: 30px;
    display: inline-block;
  }
  .invalid{
    color: #ccc;
    // font-style: italic;
  }
  select{
   background: none;
   border: none;
   border-radius: 0;
   border-bottom: 1px solid #333;
   -webkit-appearance: none;
  -webkit-border-radius: 0px;
  }
  select:focus{
    outline: none;
    font-weight: lighter;
  }
  .two-buttons{
    width: 100%;
    text-align: center;
    button{
      width: auto;
      margin: 40px 20px;
    }
  }
  .rules-form{
    width: 700px;
    margin-left: -125px;
    text-align: center;
    label{
      margin-top: 10px;
    }
  }
  .contrib-form{
    text-align: center;
    .text-area{
      width: 700px !important;
      margin-left: -125px;
      padding: 0;
    }
    .wordcount{
      font-size: 15px !important;
      position: absolute;
      width: 100%;
      margin-left: -500px;
    }
    .two-buttons{

      button{
      }
      input{
        border-bottom: none;
        width: auto
      }
    }
  }
}
