h1, h2 p, a, button, label, input, body {
  font-family: $main-font;
}

h1, h2, h4 {
  font-weight: bold;
}

h2 {
  font-weight: normal;
}

h4 {
  font-family: $title-font;
}
.brackets{
  font-size: 20px;
}

a {
  color: $black-color;
  &:hover {
    color: lighten($black-color, 10%);
  }
}
