<h1>Index</h1>

<input ng-model="stories.q" type="text" name="" value="" ng-change="stories.searchQuery()">

<div ng-show="stories.filtering" ng-repeat="genre in stories.possibleGenres">
  <h2>{{genre}}</h2>
</div>

<div ng-hide="stories.filtering"ng-repeat="genre in stories.possibleGenres">
  <h2 ng-show="genre.exists">{{genre.genre}}</h2>
  <ul ng-repeat="story in stories.all">
    <div ng-show="story.genre === '{{genre.genre}}'">
      <li>
        <img src="{{ story.image }}" alt="">
      </li>
      <li ui-sref="storiesShow({ id: story._id})">
        <h3>{{story.title}}</h3>
      </li>
      <li>
        <h5>A story by <a ui-sref="userShow({ id: story.createdBy.id})">{{story.createdBy.username}}</a></h5>
      </li>
      <li ng-show="story.rules.start">Start rule ({{story.rules.start}})</li>
      <li ng-show="story.rules.contain">Contain rule ({{story.rules.contain}})</li>
      <li>{{story.contributions.length}} contribution<span ng-hide="story.contributions.length === 1">s</span></li>
    </div>
  </ul>
</div>


<div ng-show="stories.filtering" ng-repeat="story in stories.all | filter: stories.q">
  <ul>
    <li>{{story.title}}</li>
    <li>{{story.genre}}</li>
    <li>{{story.contributions}}</li>
  </ul>
</div>
