<div ng-show="main.filterBar" class="search-container">
  <input ng-model="vm.q" type="text" name="" value="" ng-change="vm.searchQuery()" class="search-box" placeholder="Search...">
</div>

<div class="container index-div">
  <section ng-model="animation" ng-hide="animation">
    <h1>A world of experimental wordplay</h1>
    <div ng-model="main.showCarousel">
      <div ng-hide="vm.filtering" ng-repeat="stories in main.possibleGenres track by $index">
        <h2 class="genre-h2" ng-show="stories.exists">{{stories.genre}}</h2>
        <slick slides-to-show="1" slides-to-scroll="1" init-onload="true" data="stories.stories" dots="false" arrows="true" rows="1" autoplay="false" >
          <div ng-repeat="story in stories.stories track by $index" >
            <div class="slide-wrapper">
              <div class="image-div" style="background-image: url('{{story.image}}');">
                <div class="rules-index">
                  <div ng-show="story.rules.start" class="">
                    {{story.rules.start}} |
                  </div>
                  <div ng-show="story.rules.contain" class="">
                    <span class="brackets-index">( </span>{{story.rules.contain}} <span class="brackets-index"> )</span>
                  </div>
                </div>
              </div>
              <div class="content-div">
                <h4 class="story-title" ui-sref="storiesShow({id: story._id})">{{story.title}}</h4>
                <p>{{story.authorContribution | limitTo: 150}}... <a ui-sref="storiesShow({id: story._id})">READ MORE</a></p>
                <p>By <a ui-sref="userShow({id: story.createdBy.id})">{{story.createdBy.username}}</a></p>
                <p>{{story.contributions.length}} collaborator<span ng-show="story.contributions.length > 1 || story.contributions.length === 0">s</span></p>
              </div>
            </div>
          </div>
        </slick>
      </div>
    </div>

    <div ng-show="vm.filtering" ng-repeat="story in vm.all | filter: vm.q" class="search-div col-sm-4">
      <div class="storyImage"
      style="background-image:url({{ story.image }})">
        <div class="rules-index">
          <div ng-show="story.rules.start" class="">
            {{story.rules.start}} |
          </div>
          <div ng-show="story.rules.contain" class="">
            <span class="brackets-index">( </span>{{story.rules.contain}} <span class="brackets-index"> )</span>
          </div>
        </div>
      </div>
      <h4>{{story.title}}</h4>
      <p>By: <strong><a ui-sref="userShow({id: story.createdBy.id})">{{story.createdBy.username}}</a></strong></p>
      <h5>{{ story.genre}}</h5>
      <h5>This story has {{story.contributions.length}} <span ng-if="story.contributions.length=1">contribution</span><span ng-if="story.contributions.length!=1">contributions</span></h5>
    </div>
</section>
</div>
