<h1>Create New</h1>
{{new.story}}
<form ng-submit="new.submit()">
  <div class="" ng-show="new.titleCheck">
    <label for="title">Give your story a title</label>
    <input type="text" name="title" ng-model="new.story.title">
    <button type="button" name="button" ng-click="new.goGenre()" value="button">Next</button>
  </div>

  <div class="" ng-show="new.genreCheck">
    <label for="genre" >Give your story a genre</label>
    <input type="text" name="genre" ng-model="new.story.genre">
    <button type="button" name="button" ng-click="new.goRules()" value="button">Next</button>
    <button type="button" name="button" ng-click="new.goTitle()" value="button">Back</button>
  </div>

  <div class="" ng-show="new.ruleCheck">
    <label for="rule">Give your story a rule</label>

    <button type="button" name="button">All sentances must start with the letter <input type="text" name="start" ng-model="new.story.rules.start" ng-change="new.starts()"></button>
    <button type="button" name="button">You cannot use the letter <input type="text" name="contain" ng-model="new.story.rules.contain" ng-change="new.contains()"></button>

    <!-- <input type="radio" name="startRule" ng-model="new.story.rules.start">
    <input type="radio" name="containsRule" ng-model="new.story.rules.contains"> -->

    <button type="button" name="button" ng-click="new.goContrib()" value="button" >Next</button>
    <button type="button" name="button" ng-click="new.goGenre()" value="button">Back</button>
  </div>

  <div class="" ng-show="new.contribCheck">
    <label for="authorContribution">Give your story a contribution</label>
    <input type="text-area" name="authorContribution" ng-model="new.story.authorContribution" ng-change="new.addContrib()">
    <input type="submit" value="Submit" ng-hide="new.submitCheck">
  </div>

</form>
