
<ul class="progress-btns">
  <li>
    <!-- ng-disabled="!new.story.title" -->
    <button ng-click="new.goTitle()" ng-class="{bold: new.titleCheck}">1</button>
    <p ng-class="{grey: !new.story.title, bold: new.titleCheck}">Title</p>
  </li>
  <li>
    <button ng-disabled="!new.story.genre" ng-click="new.goGenre()" ng-class="{bold: new.genreCheck}">2</button>
    <p ng-class="{grey: !new.story.genre, bold: new.genreCheck}">Genre</p>
  </li>
  <li>
    <button ng-disabled="!new.story.rules" ng-click="new.goRules()" ng-class="{bold: new.ruleCheck}">3</button>
    <p ng-class="{grey: !new.story.rules.start || !new.story.rules.contains, black: new.story.rules.start || new.story.rules.contains, bold: new.ruleCheck}">Rules</p>
  </li>
  <li>
    <button ng-disabled="!new.story.authorContribution" ng-click="new.goContrib()" ng-class="{bold: new.contribCheck}">4</button>
    <p ng-class="{grey: !new.story.authorContribution, bold: new.contribCheck}">start</p>
  </li>
</ul>

<form ng-submit="new.submit()" class="create-new-form">
  <input type="hidden" name="image" ng-model="new.story.image">

  <div class="" ng-show="new.titleCheck">

    <label for="title">The title of my story is going to be
      <span>
        <input type="text" name="title" ng-model="new.story.title" class="">
      </span>
    </label>

    <button type="button" name="button" ng-click="new.goGenre()" ng-disabled="!new.story.title" ng-class="{invalid: !new.story.title}" value="button">Next</button>
  </div>

  <div class="" ng-show="new.genreCheck" >
    <label for="genre" >My stories genre is </label>
    <select ng-model="new.story.genre">
      <option value="Adventure">Adventure</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime">Crime</option>
      <option value="Romance">Romance</option>
      <option value="Thriller">Thriller</option>
      <option value="Other">Other</option>
    </select>
    <!-- <input type="text" name="genre" ng-model="new.story.genre"> -->
    <div class="two-buttons">
      <span class="two-buttons">
      <button type="button" name="button" ng-click="new.goTitle()" value="button">Back</button> | <button type="button" name="button" ng-click="new.goRules()" ng-disabled="!new.story.genre" value="button">Next</button></span>
    </div>



  </div>

  <div class="rules-form" ng-show="new.ruleCheck">
    <p for="rule">Choose some rules (optional)</p>

    <label>All sentances must start with the letter
      <span>
        <input type="text" name="start" ng-model="new.story.rules.start" ng-change="new.starts()" class="letter">
      </span>
    </label>
    <label>No sentence can contain the letter
      <span>
        <input type="text" name="contain" ng-model="new.story.rules.contain" ng-change="new.contains()" class="letter">
      </span>
    </label>
    <br>
    <span class="two-buttons">
      <button type="button" name="button" ng-click="new.goGenre()" value="button">Back</button> | <button type="button" name="button" ng-click="new.goContrib()" ng-disabled="!new.story.rules" value="button">Next</button>

  </span>
  </div>

  <div class="contrib-form" ng-show="new.contribCheck">
    <label for="authorContribution">Be the first to contibute</label>

    <div class="row">
<!-- ng-show="new.story.rules.contain || new.story.rules.start" -->
      <div class="show-rules col-sm-2" >
        <div class="show-rule" ng-class="{error: !new.startsAdhere && new.story.authorContribution}" ng-show="new.story.rules.start">
          <p>{{new.story.rules.start}} |</p>
        </div>
        <div class="show-rule" ng-class="{error: !new.containAdhere && new.story.authorContribution}" ng-show="new.story.rules.contain">
          <p >({{new.story.rules.contain}})</p>
        </div>
      </div>

      <div class="col-sm-10">
        <textarea type="text-area"  class="text-area" name="authorContribution" ng-model="new.story.authorContribution" ng-change="new.addContrib()" ng-limit="10"></textarea>
        <label for="charLeft" class="wordcount" ng-show="new.showWordCount">word count: {{new.wordCount}}</label>
        <br>

      </div>

    </div>
    <span class="two-buttons">
      <button type="button" name="button" ng-click="new.goGenre()" value="button">Back</button>
      <input type="submit" value="|      Submit" ng-hide="!new.submitCheck">
    </span>


  </div>

</form>
