<section style="background-image:url({{ vm.story.image }})" class="background-image">
  <!-- <img src="{{vm.story.image}}" alt="" class="background-image"> -->
  <h1>{{ vm.story.title}}</h1>

  <h2>{{ vm.story.genre }}</h2>

  <h3>Created by {{vm.story.createdBy.username}}</h3>

  <!-- {{vm.story}} -->
  <form ng-submit="vm.refreshMe()">
    <input type="submit" ng-show="vm.canRefresh" value="Refresh">
  </form>

</section>
<ul>
  <li>
    <h2>{{vm.story.createdBy.username}}</h2>
    <p>{{vm.story.authorContribution}}</p>
  </li>
  <li ng-repeat="contrib in vm.story.contributions">
    <h2>{{contrib.contributor.username}}</h2>
    <p>{{contrib.body}}</p>
  </li>
</ul>

<input type="text" name="contribution" ng-model="vm.contribution.body" ng-change="vm.addContribution()">

<button ng-show="vm.submitCheck" type="button" ng-click="vm.submitContrib()">Submit</button>
<p>{{vm.story.contributions}}</p>
