<section style="background-image:url({{ vm.story.image }})" class="background-image">
  <div class="show-titles">
    <div class="titles">
      <h1>{{ vm.story.title}}</h1>
      <h3>{{ vm.story.genre }}</h3>
      <h3><span>By {{vm.story.createdBy.username}}</span>
        <span ng-if="vm.story.contributions.length>=1"> and {{vm.story.contributions.length}}</span>
        <span ng-if="vm.story.contributions.length!==1"> collaborators</span>
        <span ng-if="vm.story.contributions.length===1"> collaborator</span>
      </h3>
    </div>
    <div class="rules-show">
      <div class="" ng-show="vm.story.rules.start">
        <span>{{vm.story.rules.start}} |</span>
      </div>
      <div ng-show="vm.story.rules.contain">
        <span class="brackets-show">( </span>
        <span>{{vm.story.rules.contain}}</span>
        <span class="brackets-show"> )</span>
      </div>
      <div class=""  ng-show="vm.story.rules.increase">
        <i class="fa fa-signal" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
<button ng-click="vm.refreshMe()" class="refreshBtn">
  <!-- <input type="submit" ng-show="vm.canRefresh" value="Refresh"> -->
  <i class="fa fa-refresh" aria-hidden="true"></i>
</button>

<div class="container show-content">
  <div class="row contrib-row">
    <div class="col-sm-1">

      <img ng-show="vm.story.createdBy.profilePicture" class="show-profile-photo" src="{{vm.story.createdBy.profilePicture}}" alt="">
      <img ng-hide="vm.story.createdBy.profilePicture"
      class="show-profile-photo" src="https://www.fillmurray.com/g/300/300" alt="">
    </div>
    <div class="col-sm-11 contrib">
      <p>{{vm.story.authorContribution}}</p>
    </div>
  </div>


  <div ng-repeat="contrib in vm.story.contributions">
    <div class="row contrib-row">
      <div class="col-sm-1">
        <img ng-show="contrib.contributor.profilePicture" class="show-profile-photo" src="{{contrib.contributor.profilePicture}}" alt="" ui-sref="userShow({id: contrib.contributor.id})">
        <img ng-hide="contrib.contributor.profilePicture"
        class="show-profile-photo" src="https://www.fillmurray.com/g/300/300" alt="">

      </div>
      <div class="col-sm-11 contrib">
        <p>{{contrib.body}}</p>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="show-rules col-sm-1" ng-hide="vm.lastContributor">
      <div class="show-rule rule-show-page" ng-class="{error: !vm.startsAdhere && vm.contribution.body}" ng-show="vm.story.rules.start">
        <p ng-show="vm.story.rules.start">{{vm.story.rules.start}} |</p>
      </div>
      <div class="show-rule rule-show-page"  ng-hide="vm.lastContributor || !vm.story.rules.contain"  ng-class="{error: !vm.containAdhere && vm.contribution.body}">
        <p>( {{vm.story.rules.contain}} )</p>
      </div>
      <div class="show-rule rule-show-page"  ng-hide="vm.lastContributor || !vm.story.rules.increase" ng-class="{error: !vm.increaseAdhere && vm.contribution.body}">
        <p>
          <i class="fa fa-signal" aria-hidden="true"></i>
        </p>
      </div>
    </div>

    <div class="show-text-area">
      <textarea class="col-sm-11 text-area show-text-area" ng-hide="vm.lastContributor" type="text" name="contribution" ng-model="vm.contribution.body" ng-change="vm.addContribution()"></textarea>
    </div>

  </div>


  <button type="button" ng-hide="!vm.lastContributor" name="button" ng-show="vm.lastContributor" ng-click="vm.deleteContrib()"><i class="fa fa-trash" aria-hidden="true"></i></button>


  <div class="">
    <label for="" ng-show="vm.showWordCount">Word limit: {{vm.wordCount}}</label>
    <label for="" ng-show="vm.overLimitError">You are over the word limit!</label>
  </div>

  <br>
  <br>
  <button ng-show="vm.submitCheck" type="button" ng-click="vm.submitContrib()">Submit</button>

  <h3 ng-if="vm.relatedStories.length >0">Related Stories</h3>

  <div class="row">

    <div ng-repeat="story in vm.relatedStories">
      <div class="col-sm-4 related-stories">
        <div class="storyImage"
        style="background-image:url({{ story.image }})">
        <div class="rules-index">
          <div ng-show="story.rules.start" >
            {{story.rules.start}} |
          </div>
          <div ng-show="story.rules.contain" >
            <span class="brackets-index">( </span>{{story.rules.contain}} <span class="brackets-index"> )</span>
          </div>
          <div ng-show="story.rules.increase">
            <i class="fa fa-signal" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <h4 ui-sref="storiesShow({id: story._id})">{{story.title}}</h4>
      <p>By: <strong><a ui-sref="userShow({id: story.createdBy.id})">{{story.createdBy.username}}</a></strong></p>
      <h5>{{ story.genre}}</h5>
      <h5>This story has {{story.contributions.length}}
        <span ng-if="story.contributions.length=1">contribution</span>
        <span ng-if="story.contributions.length!=1">contributions</span>
      </h5>
    </div>
  </div>

</div>

</div>
