<section class="relative-section homepage" id="home-page">
  <header class="">
    <p>
      <img class="logo" src="/images/logo.svg" alt="">
    </p>
    <h1>OulipoGram</h1>
    <h2>Collaborative. Creative. Constrained.</h2>
  </header>
  <div ng-show="vm.loginSection">
    <div class="relative-button">
      <a href="#login-page" id="loginLink">
        <p class="all-button" ><strong>Enter</strong></p>
        <img class="assets" src="/images/arrow-down.svg" alt="">
      </a>
    </div>
  </div>

  <div ng-show="vm.registerSection">
    <div class="relative-button">
      <a href="#register-page">
        <p class="all-button"><strong>Enter</strong></p>
        <img class="assets" src="/images/arrow-down.svg" alt="">
      </a>
    </div>
  </div>
</section>
<section ng-controller="LoginCtrl as login" class="relative-section" id="login-page" ng-show="vm.loginSection">

  <div class="">
    <a href="#home-page">
      <img class="assets-flipped" src="/images/arrow-down.svg" alt="">
      <p class="all-button"><strong>Home</strong></p>
    </a>
  </div>
<div class="wrapper">
  <form ng-submit="login.login()">
    <div>
      <input type="email" name="email" placeholder="email" ng-model="login.user.email">
    </div>
    <div>
      <input type="password" name="password" placeholder="password" ng-model="login.user.password">
    </div>
    <input type="submit" class="login-btn all-button" value="LOGIN" id="bold-log">
  </form>
  <a ng-click="vm.goToRegister()" class="all-button register-button">or Register</a>
</div>
</section>

<section ng-controller="RegisterCtrl as register" class="relative-section" id="register-page" ng-show="vm.registerSection">

  <div class="">
    <a href="#home-page">
      <img class="assets-flipped" src="/images/arrow-down.svg" alt="">
      <p class="all-button">Home</p>
    </a>
  </div>
  <div class="wrapper">
  <form ng-submit="register.register()">
    <div>
      <input type="text" name="username" placeholder="username" ng-model="register.user.username">
    </div>
    <div>
      <input type="profilePicture" name="profilePicture" placeholder="http://www.your-picture-here.com" ng-model="register.user.profilePicture">
    </div>
    <div>
      <input type="email" name="email" placeholder="email" ng-model="login.user.email">Your email
    </div>
    <div>
      <input type="password" name="password" placeholder="password" ng-model="login.user.password">password
    </div>
    <div>
      <input type="password" name="passwordConfirmation" placeholder="confirm your password" ng-model="register.user.passwordConfirmation">
    </div>
    <input type="submit" class="register-btn" value="REGISTER" id="bold-reg">
  </form>

  <a ng-click="vm.goToLogin()">Login</a>
</div>
</section>
