<!DOCTYPE html>
<html ng-app="groupProject">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Project 3</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <nav>
      <ul>
        <li>
          <a ui-sref="home">Home</a>
        </li>
        <li ng-hide="main.user">
          <a ui-sref="register">Register</a>
        </li>
        <li ng-hide="main.user">
          <a ui-sref="login">Login</a>
        </li>
        <li ng-show="main.user">
          <p>Welcome {{ main.user.username }}</p>
        </li>
        <li ng-show="main.user">
          <a ng-click="main.logout()">Logout</a>
        </li>
        <li ng-show="main.user">
          <a ui-sref="storiesIndex">All the stories</a>
        </li>
        <li ng-show="main.user">
          <a ui-sref="storiesCreate">Create a new story</a>
        </li>
        <a ng-click="main.randomStory()">RandomStory</a>
      </ul>
    </nav>
    <main class="container" ui-view></main>
  </body>
</html>
