// @import "helpers/reset";
//Helpers
@import "helpers/mixins";
@import "helpers/variables";
//Components
@import "components/buttons";
@import "components/navigation";
@import "components/typography";
@import "components/forms";
@import "components/assets";
@import "components/main";
@import "components/olis-partial";
@import "components/martasPartial";

//target states like :hover / :focus / etc
// button {
//           height: 35px;
//           cursor: pointer;
//           background: $secnd-white;
//           &:hover {
//             font-weight: bold;
//           }
//           &:focus {
//             outline: none;
//           }
//         }

//make color lighter / darker
// border-bottom-color: darken($main-red, 20%);
// background: lighten($light-grey, 10%);

//to refer to a variable:
// p {
//   font-family: $body-font;
// }

//to refer to a mixin:
// @include background-image-styling;

body{
  margin: 0;
}
h1 {
  margin: 0;
}
img {
  width: 400px;
  height: auto;
  display: inline;
  margin: 0;
}

.pointer{
  cursor: pointer;
}

.slick-next:before {
  color: black;
  font-family: 'Dosis', sans-serif;
  content: '>';
  font-size: 70px;
}



// .grey {
//   color: grey;
// }
//
// .black {
//   color: black;
// }
//
// .bold {
//   font-weight: bold;
//   color: red;
// }

.homepage {
  background-image: $image-bg;
}


// .scroll {
//   animation: example 1s 0s 1 linear forwards;
// }
//
// @keyframes example {
//     from {
//       // transform: translateY(0px);
//       top: 0;
//     }
//     to {
//       // transform: translateY(-100vh);
//       top: -100vh;
//     }
// .ng-hide {
//   right: 100%;
//   left: -200%;
// }

// .register-page{
//   transition: all linear 1s;
//
//   position: relative;
//   right: -100%;
// }
// .login-page{
//   transition: all linear 1s;
//   position: absolute;
//   width:
// }
// .transitionFormsRegister{
//   right: 0%;
// }
// .transitionFormsLogin{
// right: 500px;
// display: none;
//   background-color: blue;
// }

// NAVBAR
.slick-frame {
  visibility: hidden;
}
.slick-frame.slick-initialized {
  visibility: visible;
}


.profile-photo{
  margin: 30px auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  img{
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
}
.username{
  text-align: center;
}
// .storyImage{
//   height: 200px;
//   width: 100%;
//   background-size: cover;
//   position: relative;
//   display: inline-block;
// }
.rule{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #f7f8f0 0%, #adbdbc 100%);
  margin: 0px;
  margin-left: 10px;
  display: inline-block;
  p{
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
    top: 10px;
  }
}

// .background-image{
//   margin-top: -80px;
//   left: 0;
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   z-index: -1;
//   background-repeat: no-repeat;
// }
// .show-titles{
//   height: 200px;
//   width: 500px;
//   margin-top: 200px;
//   display: block;
//   background-color: #d8d8d8;
//   opacity: 0.7;
//   text-align: center;
//   .titles{
//     margin-top: 20px;
//     opacity: 0.9 !important;
//   }
// }
.show-profile-photo{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
// .contrib{
//   line-height: 30px;
//   text-align: justify;
// }



//////////////////////////////////////////////////////////
// SHOW STORY PAGE

.background-image {

  background-size: 100%;
  background: no repeat;
  height: auto;
  width: auto;
  padding: 20px 0;
  // width:100%;
  // height:100%;
  opacity: 0.9;
  position: relative;
  text-align: center;
  margin-bottom: 40px;

  .show-titles {
    display: inline-block;
    // background-color: blue;
    color: black;
    // height: 10px;
    // width: 350px;
    // margin: 33%;
    padding-top: 50px;
    text-align: center;
    // padding: 20%;

    .titles {
      background-color: white;
      opacity: 0.7;
      color: black;
      padding: 40px;
    }
    .rules-show {
        margin-top: 20px;
        // position: absolute;
        // bottom: 30px;
        // left: 30px;
        div {
          display: inline-block;
          text-align: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: black;
          padding-top: 13px;
          background-image: linear-gradient(to top, #f7f8f0 0%, #adbdbc 100%);
          p {
            .brackets-show {
              font-size: 20px!important;
            }
          }
        }
    }
    svg {
      // width: 50px;
      // height: auto;
      // text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
