// @import "helpers/reset";
//Helpers
@import "helpers/mixins";
@import "helpers/variables";
//Components
@import "components/buttons";
@import "components/navigation";
@import "components/typography";
@import "components/forms";
@import "components/main";

//target states like :hover / :focus / etc
// button {
//           height: 35px;
//           cursor: pointer;
//           background: $secnd-white;
//           &:hover {
//             font-weight: bold;
//           }
//           &:focus {
//             outline: none;
//           }
//         }

//make color lighter / darker
// border-bottom-color: darken($main-red, 20%);
// background: lighten($light-grey, 10%);

//to refer to a variable:
// p {
//   font-family: $body-font;
// }

//to refer to a mixin:
// @include background-image-styling;

body{
  margin: 0;
}
h1 {
  margin: 0;
}
img {
  width: 400px;
  height: auto;
  display: inline;
  margin: 0;
}
.pointer{
  cursor: pointer;
}
.slick-next{
  // color: black !important;
  // background-color: black;
}
.slick-next:before {
  color: black;
  font-family: 'Dosis', sans-serif;
  content: '>';
  font-size: 70px;
}

// .background-image{
//   top: 0;
//   left: 0;
//   position: absolute;
//   width: 100%;
//   height: auto;
//   z-index: -1;
//   background-repeat: no-repeat;
// }

.progress-btns {
  list-style-type: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    width: 100px;
    padding: 10px;
    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: none;
      border: solid 2px black;
      &:focus {
        outline: none;
      }
    }
  }
}

.grey {
  color: grey;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
  color: red;
}

.home-container {
  position: relative;
}

.homepage {
  background-color: blanchedalmond;
  height: 100vh;
  text-align: center;
  position: relative;

  a {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-bottom: 40px;
  }
}

.login-page {
  background-color: lavender;
  height: 100vh;
}

.register-page {
  background-color: lightblue;
  height: 100vh;
}


// .scroll {
//   animation: example 1s 0s 1 linear forwards;
// }
//
// @keyframes example {
//     from {
//       // transform: translateY(0px);
//       top: 0;
//     }
//     to {
//       // transform: translateY(-100vh);
//       top: -100vh;
//     }
// .ng-hide {
//   right: 100%;
//   left: -200%;
// }

// .register-page{
//   transition: all linear 1s;
//
//   position: relative;
//   right: -100%;
// }
// .login-page{
//   transition: all linear 1s;
//   position: absolute;
//   width:
// }
// .transitionFormsRegister{
//   right: 0%;
// }
// .transitionFormsLogin{
  // right: 500px;
  // display: none;
//   background-color: blue;
// >>>>>>> home-animations
// }

// NAVBAR
.slick-frame {
    visibility: hidden;
}
.slick-frame.slick-initialized {
    visibility: visible;
  }
.homepage {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/e4/5f/54/e45f54e2cc5516e2210c34453db5ab6e.jpg")
}
