// @import "helpers/reset";

body{
  margin: 0;
}
img {
  width: 300px;
  height: auto;
}

// .background-image{
//   top: 0;
//   left: 0;
//   position: absolute;
//   width: 100%;
//   height: auto;
//   z-index: -1;
//   background-repeat: no-repeat;
// }

.progress-btns {
  list-style-type: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    width: 100px;
    padding: 10px;
    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: none;
      border: solid 2px black;
      &:focus {
        outline: none;
      }
    }
  }
}

.grey {
  color: grey;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
  color: red;
}

.homepage {
  background-color: blanchedalmond;
  height: 100vh;
  text-align: center;
  position: relative;
  a {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
  }
}

.login-page {
  background-color: lavender;
  height: 100vh;
}

.register-page {
  background-color: lightblue;
  height: 100vh;
}
